body{
	/*background: #525846;
	background-color: #1F1C71;
	En el prob 19 pusiste lo de 
	cambiar fondo en el html*/
	background-color: #BFB299;
	/*color: #E2F1C0;*/
	color: black;
	font-family: Roboto Slab Light;
}

hgroup{
	margin:3% 0% 0% 5%; /*top-right-down-left*/
	letter-spacing: 5%;
}

h1,h3{
	margin:0;
}

section{
	margin:3% 0% 0% 5%;
}	

article{
	border:none;
}

p{
	margin: 0;
}

.tipografia-codigo{
	color: #9AA483;
	font-family: consolas;
	font-weight: lighter;
	font-size: 12pt;
	font-style: italic;
}

/*Estilos especificos a problema5*/
ul#problema5-lista li{
	width:500px;
	margin: 10px;
}
.derecha{
	float: right;
}


/*Estilos especificos a problema17*/
.estilos-prob17 h4{
	display: inline-block;
}

/*Estilos especificos problema 50*/
.izquierda{
	float: left;
	margin-right: 5px;
}

.filaProb50{
	float: left;
	margin: 0 auto;
}

/*Estilos especificos problema 51*/
#cuboCentrado{
	margin: 0 auto;
}
.centro tr td{
	text-align: center;
}
table.centro{
	opacity: 0.1;
	display: inline-block;
	border: solid;
}
table.centro:hover{
	opacity: 1;
	border: solid;
}
#dos{
	position: relative;
	bottom: 30px;
	right: 110px;
}
#tres{
	position: relative;
	bottom: 60px;
	right: 220px;
}

#pagination{
	margin: 0 auto;
	position: absolute;
	bottom: 30px;
	right: 30px;
}